@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!--REFERENCIAS A ESTILOS CSS-->
</head><!-- C# -->

<body>
    <!--CODIGO HTML-->

    <!--REFERENCIAS A SCRIPTS JAVASCRIPT-->

</body>

</html>


@section Scripts {

    <script>
        print();
    </script>

}
