@model EstacionamientoMedido.Models.Ticket

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!--REFERENCIAS A ESTILOS CSS-->
</head><!-- C# -->

<body>
    <!--CODIGO HTML-->
    <h2>Ticket generado para el cliente: @Model.ClientName</h2>
    <div>
        Fecha: @Model.Date
    </div>
    <div>
        Hora entrada: @Model.CheckIn
    </div>
    <div>
        Hora salida: @Model.CheckOut
    </div>
    <!--REFERENCIAS A SCRIPTS JAVASCRIPT-->
</body>

</html>


@section Scripts {

}
