@{
    ViewData["Title"] = "Home Page";
    //Layout = null;
    //Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<div class="text-center">
    <h1 class="display-4" style="color: white">ESTACIONAMIENTO MEDIDO</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<p>

<a asp-action="Create">Tickets</a>
</p>
